<IfModule mod_rewrite.c>
    RewriteEngine On

    # Ensure that the RewriteBase is set to the root (if the Laravel app is in the root folder)
    # If the Laravel app is installed in a subfolder (e.g., /project/), use: RewriteBase /project/
    RewriteBase /

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller (index.php) for routing
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Add proper MIME type for PNG files
<IfModule mod_mime.c>
    AddType image/png .png
</IfModule>
